@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Mada', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.search {
    width: 18rem;
    height: 2rem;
    border-radius: .7rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-search {
    background: none;
    border: none;
    position: relative;
    right: 3.5rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1rem;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(1, 1, 42);
}

h1 {
    width: 100%;
    font-size: 3rem;
    padding: .9rem 1rem;
}

#city-name{
    font-size:2rem;
}

#region{
    font-size: .7rem;
}

.temperature-card {
    margin-top: .2rem;
    width: 20rem;
    height: 25rem;
    backdrop-filter: blur(.3rem);
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(195, 177, 177, 0.718) 0px 3px 8px;
}

.temperature {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    overflow: hidden;
    transition: 1s;
}

.feels {
    width: 100%;
    height: 7%;
    text-align: center;
}

.condition{
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.condition-v{
    width: 100%;
    height: 15%;
    text-align: center;
}
.condition-v img{
    width: 5rem;
}

.other-details {
    width: 20rem;
    height: fit-content;
    margin-top: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(.3rem);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
}

.sec{
    width: 33.3%;
    height: 100%;
}
.logo{
    display: none;
}

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.value{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 800px) {
    nav{
        padding: 0 1rem;

    }
    h1{
        font-size: 1.5rem;
    }

    .search{
        margin-top: 1rem;
        width: 16rem;
    }
    .search::placeholder{
        font-size: 1rem;
    }
    .other-details {
        width: 20rem;
    }

    .temperature {
        font-size: 3.5rem;
    }

    .meadiaq{
        font-size: .5rem;
    }
}
